.card-enable {
  width: 170px;
  height: 180px;
  text-align: center;
  cursor: pointer;
}
.card-disable {
  width: 170px;
  height: 180px;
  text-align: center;
  cursor: no-drop;
}
.date-title {
  font-weight: normal;
  color: gray;
}
.day-name {
  color: gray;
  font-size: 20px;
  bottom: 0;
}
.ant-card {
  border-radius: 10px 10px 0 0;
}
.ant-card-head {
  background: #dd3c3c;
  border-radius: 9px 9px 0 0;
}
.ant-card-head-title {
  color: #fff;
}
