body {
  font-family: sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.date-link {
  float: left;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  padding: 15px;
  color: #1890ff;
}
.date-hide-show {
  float: right;
  font-weight: normal;
  text-align: center;
  padding: 15px;
  color: #1890ff;
}
.carousal-div {
  width: 100%;
}

.ant-card {
  border-radius: 10px 10px 0 0;
}
.ant-card-head {
  background: #dd3c3c;
  border-radius: 9px 9px 0 0;
}
.ant-card-head-title {
  color: #fff;
}
